@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@200&display=swap');
.sub-text{
    font-family: 'Inconsolata', monospace;

}

.content h1{
    position: absolute;
    opacity: 0.5;
    font-family: 'Anton', sans-serif;
font-family: 'Inconsolata', monospace;
}